<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website- About</title>
</head>
<body>
    <h1>Carrissa Smith</h1>
    <p>I am a final year student at the University of the West Indies.
        I am interested in Data Science and AI field. It is also the only field that I feel capable
        of working in. The reason I feel a more confident in it is because I did an internship in Data Science 
        at a Indian/UK based company called OESON. The practical experience really helped. I used to want to do 
        web development but I am not confident in my skills and don't have any independent projects to place on my resume.
        Sir, if you have any links for a job in Data Analytics, Data Science or AI Engineer, you can email me at smithcarrissa1@gmail.com. 
        Thanks in advance ;]
    </p>
</body>
</html>